* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 400px;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(179, 227, 255), white, rgb(179, 227, 255));
  align-items: center;
  justify-content: center;
  font-family: "Century Gothic";
}

body {
  display: flex;
}

#content {
  width: 50%;
  height: 90%;
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #00ecf8, #7bff00);
  box-shadow: -7px 5px 20px #7bff00, 7px -5px 20px #00ecf8;
  border-image-slice: 1;
}

#question-box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: flex-end;
}

#user-question {
  width: 90%;
  height: 60%;
  border-radius: 50px;
  border: 1px solid black;
  text-align: center;
  background: linear-gradient(45deg, #7af8ff, #bcff7d);
  font-family: "Century Gothic";
}

#magic-ball {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

#ball {
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 4px 10px #37114a) drop-shadow(-5px -4px 10px #37114a);
}

#answer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0),
    0 0 5px rgb(0, 0, 0),
    0 0 5px rgb(204, 204, 204),
    0 0 5px rgb(204, 204, 204),
    0 0 5px rgb(204, 204, 204),
    0 0 5px rgb(204, 204, 204),
    0 0 5px rgb(204, 204, 204);
}
